name: 'action'

on:
  push:
    tags:
      - '*'
      - '!tip'
    branches:
      - '*'

env:
  CI: true

jobs:

  action:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - run: |
        yarn
        yarn build
        yarn test
        rm -rf dist/*
        yarn prod

#    - name: Deploy to gha-tip
#      if: endsWith(github.ref, '/master')
#      run: |
#        git diff --exit-code --stat -- . ':!node_modules' \
#        || (echo "::error:: found changed files after build" && exit 1)
#
#        cp action.yml dist/
#        cp action.md dist/README.md
#        cd dist
#        git init
#        cp ../.git/config ./.git/config
#        git checkout --orphan gha-tip
#        git add .
#
#        git config --local user.email "tip@gha"
#        git config --local user.name "GHA"
#        git commit -a -m "update $GITHUB_SHA"
#
#        git push origin +gha-tip
