name: 'issue?'
on:
  issues:
    types: [ opened, edited, labeled, unlabeled ]
jobs:
  mwe:
    runs-on: ubuntu-latest
    steps:
    - uses: 1138-4EB/issue-runner@gha-tip
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        allow-host: false
